<nz-select
  nzMode="tags"
  [nzPlaceHolder]="placeholder"
  [nzLoading]="loading"
  [nzStatus]="atLimit ? 'warning' : ''"
  [(ngModel)]="selected"
  (ngModelChange)="handleChange($event)"
  style="width: 100%"
  [nzNotFoundContent]="notFoundTpl"
>
  <nz-option
    *ngFor="let opt of options"
    [nzValue]="opt.value"
    [nzLabel]="opt.label"
  ></nz-option>
</nz-select>
<ng-template #notFoundTpl>
  <span *ngIf="error" class="text-red-400 text-xs px-2">{{ error }}</span>
</ng-template>
<div *ngIf="atLimit" class="text-yellow-500 text-xs mt-1">
  Maximum {{ maxTags }} tags allowed.
</div>
