<nz-select
  nzMode="tags"
  [nzPlaceHolder]="placeholder"
  [nzLoading]="loading"
  [nzStatus]="atLimit ? 'warning' : ''"
  [formControl]="control"
  style="width: 100%"
  [nzNotFoundContent]="notFoundTpl"
  data-testid="tag-selector"
>
  <nz-option
    *ngFor="let opt of options"
    [nzValue]="opt.value"
    [nzLabel]="opt.label"
  ></nz-option>
</nz-select>

<ng-template #notFoundTpl>
  <span
    *ngIf="error"
    class="text-red-400 text-xs px-2"
    data-testid="tag-selector-not-found"
  >
    {{ error }}
  </span>
</ng-template>

<div
  *ngIf="atLimit"
  class="text-yellow-500 text-xs mt-1"
  data-testid="tag-selector-warning"
>
  Maximum {{ maxTags }} tags allowed.
</div>
